{% extends "outer_template.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/dropzone.css">
<link rel="stylesheet" href="/static/css/projects.css">
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/projects.js"></script>
{% endblock %}

{% block heading %}
    <ul class="menu">
        <div class="dropdown" id="dropdown"><a class="dropdown-link" href="#">File</a>
            <ul>
                <li><a href="#" id="display_add"
                       onclick="display('dropzone','display_add','hide_add'); $('#add_files').show()">Upload</a></li>
                <li><a href="#" id="hide_add" style="display: none"
                       onclick="hide('dropzone','display_add','hide_add')">Hide Uploads</a></li>
                <li> <a href="#" id="add_files" style="display: none"
                        onclick="location.reload()">Add Sounds</a></li>
            </ul>

        </div>
        <div class="dropdown" id="dropdown"><a class="dropdown-link" href="#">Edit</a>
            <ul>
                <li><a href="#">Test</a></li>
            </ul>
        </div>
        <div class="dropdown" id="dropdown"><a class="dropdown-link" href="#">View</a>
            <ul>
                <li><a onclick="window.history.back()">Back</a></li>
            </ul>
        </div>
        <div class="dropdown" id="dropdown"><a class="dropdown-link" href="#">   Effects   </a>
            <ul>
                <li><a href="#">Test</a></li>
            </ul>
        </div>
    </ul>
{% endblock %}

{% block content %}
        <form action="{{ "/add_file/"~project.id }}"
      method = "post"
      class="dropzone"
      id="dropzone"
      enctype="multipart/form-data"
      name=file></form>
    <div class="sounds">
    {% for sound in project.sounds %}
        <br>
        <br>
        <script>var {{ "sound"~sound.id }} = new Sound("{{ url_for('uploaded_file', filename=sound.filename,
            project_id=project.id) }}");</script>
<div class="checkbox">
	<input type="checkbox" value="None" id="{{ "checkbox"~sound.id }}" name="check" />
	<label for="{{ "checkbox"~sound.id }}"></label>
</div>
        <menu class="small">
            <button class="rw"></button>
            <button class="play" onclick="{{ "sound"~sound.id }}.play()"></button>
            <button class="pause" onclick="{{ "sound"~sound.id }}.pause()"></button>
            <button class="stop" onclick="{{ "sound"~sound.id }}.stop()"></button>
            <button class="ff"></button>
</menu>
    {% endfor %}
    </div>

{% endblock %}