{% extends "outer_template.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/dropzone.css">
<link rel="stylesheet" href="/static/css/projects.css">
<script src="/static/js/projects/dropzone.js"></script>
<script src="/static/js/projects/wavesurfer.min.js"></script>
<script src="/static/js/projects/knockout-3.2.0.js"></script>

{% endblock %}

{% block heading %}
    <div class="menu">
        <div class="dropdown" id="dropdown"><a class="projectlink" href="#">File</a>
            <ul>
                <li><a href="#" id="display_add"
                       onclick="display('dropzoneDiv','display_add','hide_add');
                                $('#add_files').show();">
                                    Upload
                    </a>
                </li>
                <li><a href="#" id="hide_add" style="display: none"
                       onclick="hide('dropzoneDiv','display_add','hide_add');">
                                    Hide Uploads
                    </a>
                </li>
                <li> <a href="#" id="add_files" style="display: none"
                        onclick="location.reload()">Add Sounds</a></li>
            </ul>

        </div>
        <div class="dropdown" id="dropdown"><a class="projectlink" href="#">Edit</a>
            <ul>
                <li><a href="#" onclick="deleteSounds({{ project.id }});">Delete Sounds</a></li>
                    <li><br></li>
                <li><a href="#" onclick="selectAll();">Select All</a></li>
                <li><a href="#" >Select None</a></li>
            </ul>
        </div>
        <div class="dropdown" id="dropdown"><a class="projectlink" href="#">View</a>
            <ul>
                <li><a href="/home">Home</a></li>
            </ul>
        </div>
        <div class="dropdown" id="dropdown"><a class="projectlink" href="#">   Effects   </a>
            <ul>
                <li><a href="#">Test</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <br>
    Due to storage issues, this app cannot handle uploads and is simply a demonstration of web development skills.
    <div class="dropzoneDiv" id = "dropzoneDiv">
        <button class="btn" id="hideDropzone"
            onclick="hide('dropzoneDiv','display_add','hide_add');">
            Hide Dropzone
        </button>
    <br>
    <br>
        <form action="{{ "/add_file/"~project.id }}"
            method = "post"
            class="dropzone"
            id="dropzone"
            enctype="multipart/form-data"
            name=file
            data-bind="submit: test(file)"></form>
    </div>
    <br>
    <br>
    <div class="sounds">
    <table>
    <thead><tr>
        <th>id</th><th>SoundName</th><th>SoundURL</th><th></th>
    </tr></thead>
        <tbody data-bind="foreach: sounds">
            <tr>
                <td data-bind="text: soundData.id"></td>
                <td><div data-bind="text: soundData.filename"></div></td>
                <td data-bind="text: soundData.url"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <div data-bind="css: className"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <script src="/static/js/projects/sounds.js"></script>
    </div>
    {% for sound in project.sounds %}
        <script>
            loadSound("{{ url_for('uploaded_file', filename=sound.filename,
                    project_id=project.id) }}", {{ sound.id }}, "{{ sound.filename }}");
        </script>
    {% endfor %}

{% endblock %}