{% extends "outer_template.html" %}

{% block title %}
    Create_User
{% endblock %}

{% block content %}
    <form method="post" enctype=multipart/form-data  action="">
        Username:
        <br>
            <input class="text" type="text" name="username" pattern=".{5,20}" required title="5 characters minimum">
            <br>
        <br>
        Password:
        <br>
            <input class="text" type="password" name="password" pattern=".{5,30}" required title="5 characters minimum">
            <br>
        <br>
        Email:
        <br>
            <input class="text" type="text" name="email">
            <br>
        <br>
        Name:
        <br>
            <input class="text" type="text" name="name" pattern=".{5,20}" required title="5 characters minimum">
            <br>
        <br>
        <input class="btn" type="submit" value="create_account">
    </form>

{% endblock %}