{% extends "outer_template.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="post">
        Username:
        <br>
            <input class="text" type="text" name="username" pattern=".{5,20}" required title="5 characters minimum">
            <br>
        <br>
        Password:
        <br>
            <input class="text" type="password" name="password" pattern=".{5,}" required title="5 characters minimum">
            <br>
        <br>
        <input class="btn" type="submit" name="login" value="login">
    </form>
    <br>
        <br>
    <a href="/create_account">
        <button class = btn>New User</button>
    </a>
{% endblock %}